@using Book.Client.Dtos.Books
@model BookUpdateDto
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container">
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
    <form asp-action="create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <select class="form-select" asp-for="CategoryId" aria-label="Disabled select example">
                <option selected>Choose Category</option>
                @foreach (var item in ViewBag.Categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }

            </select>
            <span class="alert-danger" asp-validation-for="CategoryId"></span>
        </div>
        <div class="form-group">
            <label asp-for="FormFile">Image</label>
            <input accept="image/*" type="file" class="form-control" asp-for="FormFile">
            <span class="alert-danger" asp-validation-for="FormFile"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input type="text" class="form-control" asp-for="@Model.Name">
            <span class="alert-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price">Price</label>
            <input type="text" class="form-control" asp-for="@Model.Price">
            <span class="alert-danger" asp-validation-for="Price"></span>
        </div>
        @Html.AntiForgeryToken()
        <button type="submit">Create</button>
    </form>
</div>